[run]
omit =
    protobufs_pb2.py
    */protobufs_pb2.py
    protobufs_pb2_grpc.py
    */protobufs_pb2_grpc.py
    /home/jwhite/.virtualenvs
    /home/jwhite/.virtualenvs/*
    .venv
    */.venv/

include = 
    helpers.py
    database.py
    database_test.py
    server_grpc.py
    server_grpc_test.py
    server_web.py
    server_web_test.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
