#blockchain {
    .block {
        height: 130px;
        border: 1px solid black;
        display: inline-block;
        width: 130px;
        margin-left: 30px;

        &:before {
            content: '←';
            position: relative;
            left: -40px;
            font-size: 400%;
            top: 0px;
            line-height: 30px;
            float: left;
            width: 0px;
        }

        .div {
            line-height: 20px;
        }

        .id {
            &:before {
                content: '#';
            }
        }

        .value1, .value2 {
            font-weight: bold;

            &:after{
                content: '°';
            }
        }

        .hash {
            color: #999;
        }

        .icon {
            float: right;
            line-height: 0px;
            color: green;
            background: white;
        }
    }
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}