@charset "UTF-8";
#blockchain .block {
  height: 130px;
  border: 1px solid black;
  display: inline-block;
  width: 130px;
  margin-left: 30px;
}
#blockchain .block:before {
  content: "←";
  position: relative;
  left: -40px;
  font-size: 400%;
  top: 0px;
  line-height: 30px;
  float: left;
  width: 0px;
}
#blockchain .block .div {
  line-height: 20px;
}
#blockchain .block .id:before {
  content: "#";
}
#blockchain .block .value1, #blockchain .block .value2 {
  font-weight: bold;
}
#blockchain .block .value1:after, #blockchain .block .value2:after {
  content: "°";
}
#blockchain .block .hash {
  color: #999;
}
#blockchain .block .icon {
  float: right;
  line-height: 0px;
  color: green;
  background: white;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
