<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Gaia</title>
        <link rel="stylesheet" type="text/css" href="public/css/sakura.css">
        <link rel="stylesheet" type="text/css" href="public/css/gaia.css">
        <script src="public/js/jquery-3.3.1.min.js"></script>
        <script src="public/js/chart-2.7.2.min.js"></script>
        <link rel="icon" type="image/png" sizes="32x32" href="public/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="public/img/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="public/img/favicon-16x16.png">
    </head>
    <body>
        <img id="logo" src="public/img/gaia.jpg" alt="logo" width="100" height="97" />
        <h1>Gaia</h1>

        <div id="connectivity">
            <p>Connectivity: Ping={{TEST_PORT_SSH}} Video={{TEST_PORT_VIDEO}}</p>
            <div id="live_feed">
                <iframe id="stream" src="https://player.twitch.tv/?channel=gasparovcam" frameborder="0" allowfullscreen="true" scrolling="no" height="540" width="960"></iframe>
            </div>
        </div>

        <div id="graph">
            <h3><a href="#" id="linkStatusGraph">Status & Actions</a> / <a href="#" id="linkSensorGraph">Sensors</a> Graph</h3>
            <div id="canvas-holder1" style="width:100%;">
                <canvas id="chart1"></canvas>
            </div>
            <div id="canvas-holder2" style="width:100%; display:none">
                <canvas id="chart2"></canvas>
            </div>
            <div id="graph_data">
                <script>
                    {{JS_ARRAYS}}
                </script>
            </div>
        </div>

        {{CURRENT_CONFIG}}

        <div id="update_response">
            <h3>Update Config</h3>
            Pending config update: 
            <pre>{{NEXT_COMMAND}}</pre>
            <a href="#" id="update_config_link">(change)</a>

            <form id="formNewCommand" method="post" action="/command" style="display:none">
                <p>Add new command: <select id="newCommand"  name="newCommand" >
                  <option value="0">DO_NOTHING</option>
                  <option value="1">SHUTDOWN</option>
                  <option value="2">REBOOT</option>
                  <option value="-">---</option>
                  <option value="3">EMPTY_SERVER_DB</option>
                  <option value="4">RESET_SERVER_DB</option>
                </select></p>
                <p>And update config: <select id="updateConfig"  name="updateConfig" >
                  <option value="0">No</option>
                  <option value="1">Yes</option>
                </select></p>

                <div id="divUpdateConfig" style="display:none">
                    <p>Feeding enabled: <select id="feedingEnabled"  name="feedingEnabled" >
                  <option value="0">No</option>
                  <option value="1">Yes</option>
                    </select></p>
                    <p>Watering enabled: <select id="wateringEnabled"  name="wateringEnabled" >
                  <option value="0">No</option>
                  <option value="1">Yes</option>
                    </select></p>
                    <p>Feeding CronString:
                <input id="feedingCron"  name="feedingCron" placeholder="12h *" type="text" /></p>
                    <p>Watering CronString:
                <input id="wateringCron"  name="wateringCron" placeholder="13h 0,2,3" type="text" /></p>
                    <p>Pump 1 duration:
                <input id="pump1Duration"  name="pump1Duration" placeholder="10" type="text" /></p>
                    <p>Pump 2 duration:
                <input id="pump2Duration"  name="pump2Duration" placeholder="10" type="text" /></p>
                    <p>Pump 3 duration:
                <input id="pump3Duration"  name="pump3Duration" placeholder="10" type="text" /></p>
                    <p>Pump 4 duration:
                <input id="pump4Duration"  name="pump4Duration" placeholder="10" type="text" /></p>
                </div>

                <input id="passphrase"  name="passphrase" placeholder="Passphrase" type="password" />
                <div id="submitDiv">
                    <input id="submitButton" type="submit" value="Submit" />
                    <img id="loaderGif" src="public/img/loader.gif" style="display:none"/>
                </div>
            </form>
        </div>

        <div class="header">
            <h3><a href="#" id="status_link">Status</a> / <a href="#" id="reports_link">Reports</a></h3>
        </div>

        <div id="status">
            {{STATUS}}
        </div>
        <div id="reports" style="display:none">
            {{REPORTS}}
        </div>

    <script>

        function toggleGraph(showGraph) {
            $('#canvas-holder1').css('display', 'none')
            $('#canvas-holder2').css('display', 'none')
            $('#'+showGraph).css('display', 'block')
        }

        $('#linkStatusGraph').on('click', function(){
            toggleGraph('canvas-holder1')
            return false;
        });
        $('#linkSensorGraph').on('click', function(){
            toggleGraph('canvas-holder2')
            return false;
        });

        function togglePanel(showPanel) {
            $('#status').css('display', 'none')
            $('#reports').css('display', 'none')
            $('#'+showPanel).css('display', 'block')
        }

        $('#status_link').on('click', function(){
            togglePanel('status')
            return false;
        });
        $('#reports_link').on('click', function(){
            togglePanel('reports')
            return false;
        });

        $('#update_config_link').on('click', function(){
            $('#formNewCommand').css('display', 'block')
            $('#update_config_link').css('display', 'none')
            return false;
        })

        $('#updateConfig').on('change', function(){
            if(this.value == '1') {
                $('#divUpdateConfig').css('display', 'block')
            } else {
                $('#divUpdateConfig').css('display', 'none')
            }
        })

        $("#formNewCommand").submit(function(e) {
            var form = $(this);
            var url = form.attr('action');
            $('#submitButton').css('display', 'none')
            $('#loaderGif').css('display', 'block')
            $.ajax({
                   type: "POST",
                   url: url,
                   data: form.serialize(),
                   success: function(data)
                   {
                       $('#submitButton').css('display', 'block')
                       $('#loaderGif').css('display', 'none')
                   },
                   error: function (request, error) {
                       console.log(arguments)
                       alert("Error: " + error);
                       $('#submitButton').css('display', 'block')
                       $('#loaderGif').css('display', 'none')
                   },
            });
            e.preventDefault();
        });
    </script>
    <script src="public/js/chart.js"></script>
    </body>
</html>