<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Gaia</title>
        <link rel="stylesheet" type="text/css" href="public/css/sakura.css">
        <link rel="stylesheet" type="text/css" href="public/css/gaia.css">
        <script src="public/js/jquery-3.3.1.min.js"></script>
        <script src="public/js/Chart-2.7.2.min.js"></script>
        <link rel="icon" type="image/png" sizes="32x32" href="public/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="public/img/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="public/img/favicon-16x16.png">
        <style>

    </style>
    </head>
    <body>
        <img id="logo" src="public/img/gaia.jpg" alt="logo" width="100" height="97" />
        <h1>Gaia</h1>
        <div>
            <p>Connectivity: Ping={{TEST_PORT_SSH}} Video={{TEST_PORT_VIDEO}}</p>
            <p><a href="#" onclick="loadFeed()">Load live feed</a></p>
            <div id="live_feed"></div>
        </div>
        <div style="display:none">
            <h3>Graph</h3>
            <div id="canvas-holder1" style="width:100%;">
                <canvas id="chart1"></canvas>
            </div>
        </div>
        <div>
            <h3>Current Config</h3>
            <div id="feeder-module" class="module {{FEEDING_DISABLED}}">
                <div class="foodbox">
                    <div class="foodpill" style="top:20px; left: 10px"></div>
                    <div class="foodpill" style="top:40px; left: 0px"></div>
                    <div class="foodpill" style="top:40px; left: 15px"></div>
                </div>
                <div class="label">Feeder</div>
            </div>

            <div id="water-module" class="module {{WATERING_DISABLED}}">
                <div id="glasscontainer">
                    <div id="glass1" class="glass"><div class="water" style="height:{{WATER1_LEVEL}}%"></div><span>{{WATER1_NUMBER}}</span></div>
                    <div id="glass2" class="glass"><div class="water" style="height:{{WATER2_LEVEL}}%"></div><span>{{WATER2_NUMBER}}</span></div>
                    <div id="glass3" class="glass"><div class="water" style="height:{{WATER3_LEVEL}}%"></div><span>{{WATER3_NUMBER}}</span></div>
                    <div id="glass4" class="glass"><div class="water" style="height:{{WATER4_LEVEL}}%"></div><span>{{WATER4_NUMBER}}</span></div>
                </div>
                <div class="label">Watering system</div>
            </div>

            <div id="weekdays-module" class="module">
                <div id="weekdays-feeder" class="weekdays {{FEEDING_DISABLED}}">
                    <table>
                        <tr>
                            <td class="weekday_on">M</td>
                            <td class="weekday_on">T</td>
                            <td class="weekday_on">W</td>
                            <td class="weekday_on">T</td>
                            <td class="weekday_on">F</td>
                            <td class="weekday_on">S</td>
                            <td class="weekday_on">S</td>
                        </tr>
                    </table>
                    <span>@</span>
                    <div class="hour">{{FEEDING_HOUR}}h</div>
                </div>
                <div id="weekdays-water" class="weekdays {{WATERING_DISABLED}}">
                    <table>
                        <tr>
                            <td class="weekday_on">M</td>
                            <td>T</td>
                            <td class="weekday_on">W</td>
                            <td>T</td>
                            <td class="weekday_on">F</td>
                            <td>S</td>
                            <td>S</td>
                        </tr>
                    </table>
                    <span>@</span>
                    <div class="hour">{{WATERING_HOUR}}h</div>
                </div>
            </div>
        </div>
        <div>
            <h3>Commands</h3>
            <pre>{{NEXT_COMMAND}}</pre>
            <form method="post">
                <p>Add new command:</p>
                <input id="newCommand"  name="newCommand" placeholder="COMMAND" type="text" />
                <input id="passphrase"  name="passphrase" placeholder="Passphrase" type="password" />
                <input type="submit"/>
            </form>
        </div>
        <div>
            <h3>Data</h3>
            {{DATA}}
        </div>

    <script>

        function loadFeed(){
            const videoStream = '<img src="http://lbarman.ch:{{PORT_VIDEO}}/" alt="Video stream" class="shrinkToFit" width="632" height="474">'
            $('#live_feed').html(videoStream);
            return false;
        }
    </script>
    </body>
</html>