[Unit]
Description=AutoSSH tunnel service - motion local 8081 remote 127.0.0.1:11735
After=network.target

[Service]
Environment="AUTOSSH_GATETIME=0"
ExecStart=/usr/bin/autossh -M 0 -o "ServerAliveInterval 30" -o "ExitOnForwardFailure yes" -o "ServerAliveCountMax 3" -nNTR 127.0.0.1:11735:localhost:8081 raspi@lbarman.ch -p 11733
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target