@extends './layout.top'

@section(content)

<h2>Blockchain</h2>

<div id="blockchain">
    <div class="block">
        <div class="id">1</div>
        <div class="value1">10.4</div>
        <div class="value2">12.4</div>
        <div class="hash">9f86d08</div>
        <svg class="icon icon-checkmark-outline"><use xlink:href="#icon-checkmark-outline"></use></svg>
    </div>
    <div class="block">
        <div class="id">2</div>
        <div class="value1">12.4</div>
        <div class="value2">16.4</div>
        <div class="hash">659a2fe</div>
        <svg class="icon icon-checkmark-outline"><use xlink:href="#icon-checkmark-outline"></use></svg>
    </div>
    <div class="block">
        <div class="id">3</div>
        <div class="value1">13.4</div>
        <div class="value2">14.4</div>
        <div class="hash">f4f1b2b</div>
        <svg class="icon icon-checkmark-outline"><use xlink:href="#icon-checkmark-outline"></use></svg>
    </div>
</div>


@endsection